<div class="container">
  <div class="table-responsive">
    <table id="issuesTable" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Tag Path Name <input type="text" placeholder="Filter Tag Path Name" /></th>
          <th>Value <input type="text" placeholder="Filter Value" /></th>
          <th>Tag Value Quality <input type="text" placeholder="Filter Tag Value Quality" /></th>
          <th>Post Timestamp <input type="text" placeholder="Filter Post Timestamp" /></th>
          <th>Tag Origin <input type="text" placeholder="Filter Tag Origin" /></th>
          <th>Data Type <input type="text" placeholder="Filter Data Type" /></th>
          <th>Tag Change Timestamp <input type="text" placeholder="Filter Tag Change Timestamp" /></th>
          <th>SP Call Timestamp <input type="text" placeholder="Filter SP Call Timestamp" /></th>
          <th>SP Start Timestamp <input type="text" placeholder="Filter SP Start Timestamp" /></th>
        </tr>
      </thead>
      <tbody>
        <% issues.forEach(issue => { %>
          <tr>
            <td><%= issue.TagPathName %></td>
            <td><%= issue.Value %></td>
            <td><%= issue.TagValueQuality %></td>
            <td><%= new Date(issue.PostTimestamp).toLocaleString() %></td> <!-- Combina fecha y hora -->
            <td><%= issue.TagOrigin %></td>
            <td><%= issue.DataType %></td>
            <td><%= new Date(issue.TagChangeTimestamp).toLocaleString() %></td> <!-- Combina fecha y hora -->
            <td><%= new Date(issue.SPCallTimestamp).toLocaleString() %></td> <!-- Combina fecha y hora -->
            <td><%= new Date(issue.SPStartTimestamp).toLocaleString() %></td> <!-- Combina fecha y hora -->
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>