<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignition Tag History</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <link rel="stylesheet" href="/ign_history/css/w3.css">
  <link href="/ign_history/css/PHSReportStyleSheet.css?v=V3.1.0" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/ign_history/css/waiting_indicator.css?v=V3.1.1" />
  <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/ign_history/css/tab.css?v=V3.1.0" />
  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css"/>
  <style>
    /* Custom style for date inputs */
    input[type="date"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
      width: calc(50% - 10px);
      height: 44px;
    }

    div.input-row label {
      display: inline-block;
      margin-bottom: 5px;
      width: 30%;
      padding-right: 5px;
    }
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: calc(50% - 10px);
      margin-left: 5px;
      font-size: 14px;
      height: 44px;
    }
    button[type="submit"]:hover {
      background-color: #45a049;
    }
    .input-container {
      margin-bottom: 10px;
      text-align: center;
    }
    .input-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .table-responsive {
      overflow-x: auto;
      margin: 15px 0;
    }
    div.dt-container .dt-input {
      background-color: #111;
    }
    #issuesTable th, #issuesTable td {
      color: white;
    }
    #issuesTable th {
      background-color: #000;
    }
    #issuesTable {
      background-color: #333;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      color: white !important;
      background-color: #333 !important;
    }
    .dt-button-info {
      color: #111 !important;
    }
    input[type="text" i] {
      padding: 3px;
      box-sizing: border-box;
    }
    .dt-column-title {
      padding: 3px;
      box-sizing: border-box;
    }
    #issuesTable tr.selected {
      background-color: #a2d2ff; /* Light blue background when selected */
    }
    .highcharts-dark {
      --highcharts-neutral-color-80: rgb(214, 214, 214);
    }
    element.style {
      fill: antiquewhite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
  <div class="headerTab">
    <div class="header">
      <img src="/ign_history/images/daikin.png" alt="Image Missing" style="height:50px;">
      <div class="center headText">Export Ignition History</div><span class="version_control w3-hide-medium w3-hide-small"><%= version %></span>
    </div>
    <form id="searchForm" method="post" action="/ign_history/search">
      <div class="input-container">
        <div class="input-row">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" value="<%= startDate %>" required autocomplete="off">
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" value="<%= endDate %>" required autocomplete="off">
          <label for="department" style="width:20%">Line:</label>
          <select name="department" id="department" style="width: calc(50% - 10px); margin-left: 5px; font-size: 14px; height: 44px;">
            <option value="all">All</option>
            <% departments.forEach(function(dept) { %>
              <option value="<%= dept %>"><%= dept %></option>
            <% }); %>
          </select>
          <label for="table" style="width:20%">Table:</label>
          <select name="table" id="table" style="width: calc(50% - 10px); margin-left: 5px; font-size: 14px; height: 44px;">
            <option value="CurrentIGNValue">CurrentIGNValue</option>
            <option value="CurrentIGNValue_History">CurrentIGNValue_History</option>
          </select>
          <button type="submit">Search</button>
          <!--<button type="submit" id="toggleChart" class="w3-btn w3-blue" disabled>Show Chart</button>-->
          <button type="submit" id="clearSearch" class="w3-btn w3-yellow w3-round-large dx-button dx-button-default dx-button-mode-contained dx-widget dx-button-has-text">Reset</button>
        </div>
      </div>
    </form>
    <div id="demo-output" style="margin-bottom: 1em;" class="highcharts-dark"></div>
    <div id="loadingIndicator" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
      <div style="border: 8x solid #f3f3f3; border-top: 8px solid #3498db; border-radius: 50%; width: 60px; height: 60px; animation: spin 2s linear infinite;"></div>
    </div>
    <div id="tableContainer">
      <% if (issues && issues.length > 0) { %>
        <%- include('partials/table', { issues: issues }) %>
      <% } else { %>
        <p>No results.</p>
      <% } %>
    </div>
  </div>
  
  <script src="https://code.highcharts.com/dashboards/datagrid.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script>
    $(document).ready(function() {
      let table;
      $('#toggleChart').prop('disabled', true).text('Show Chart');
      $('#demo-output').hide();
      $('#toggleChart').click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        var chartDiv = document.getElementById('demo-output');
        if (chartDiv.style.display === 'none') {
          chartDiv.style.display = 'block';
          $(this).text('Hide Chart');
        } else {
          chartDiv.style.display = 'none';
          $(this).text('Show Chart');
        }
      });
      $('#clearSearch').click(function(event) {
        event.preventDefault();
        $('input[type="date"]').val('');
        window.location.href = "/ign_history";
      });
      $('#searchForm').on('submit', function(event) {
        event.preventDefault();
        const startDate = new Date(document.getElementById('startDate').value);
        const endDate = new Date(document.getElementById('endDate').value);
        if (startDate > endDate) {
          alert("The start date must not be later than the end date.");
          return;
        }
        $('#loadingIndicator').show();
        let formData = $(this).serialize();
        $.post('/ign_history/search', formData, function(data) {
          $('#tableContainer').html(data);
          initializeTable();
          $('#toggleChart').prop('disabled', false);
          $('#loadingIndicator').hide();
        }).fail(function() {
          $('#loadingIndicator').hide();
          alert('Error processing the search. Please try again.');
        });
      });

      function initializeTable() {
        if ($.fn.DataTable.isDataTable('#issuesTable')) {
          $('#issuesTable').DataTable().destroy();
        }
        table = new DataTable('#issuesTable', {
          "scrollX": true,
          "responsive": false,
          "paging": true,
          "ordering": true,
          "info": true,
          "select": true,
          "buttons": [
            { extend: 'copyHtml5', footer: false },
            { extend: 'excelHtml5', footer: false },
            { extend: 'csvHtml5', footer: false },
            {
              extend: 'pdfHtml5',
              orientation: 'landscape',
              pageSize: 'LEGAL',
              footer: false,
            }
          ],
          layout: { top1Start: 'buttons' },
          "initComplete": function(settings, json) {
            this.api().columns().every(function() {
              var column = this;
              var input = $(column.header()).find('input');
              input.on('click', function(e) {
                e.stopPropagation();
              });
              $('input', this.header()).on('keyup change clear', function() {
                if (column.search() !== this.value) {
                  column.search(this.value).draw();
                  initializeChart(table);
                }
              });
            });
          }
        });
      }

      


    });
  </script>
</body>
</html>
